:root {
  font-size: 62.5%; }

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #0079bf; }

.title {
  border: 0;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
  outline: 0;
  background-color: #dfe1e6; }

.todo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #dfe1e6;
  border-radius: 3px;
  padding: 20px 20px 0px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 480px) {
    .todo {
      padding: 20px 30px; } }
  @media screen and (min-width: 768px) {
    .todo {
      padding: 20px 40px; } }
  .todo h1 {
    margin-top: 10px; }
