@import "media-queries";

$todo-with-margin: 10px;

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  // max-width: 700px;
  min-height: 100vh;

  // trello - chrome cannot scroll up and down
  // @include min-device("tablet") {
  //   padding: 40px;
  // }
}

.todo {
  // I suspect min-height increases the height and makes it scrollable
  // min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // background-color: rgba(223, 225, 230, 1);
  // border-radius: 6px;
  // margin: $todo-with-margin;
  h1 {
    margin-top: 10px;
  }

  // Mobile L on Chrome - 425px
  &-inputAndBtn {
    // max-width: 425px - 2 * $todo-with-margin;
  }
}

// works without this
.break-word {
  // width: 450px;
  // word-break: break-word;
  // word-wrap: break-word;
}
