$plus-cross-size: 16px;
$dropdown-triangle-size: 16px;

.todo {
  &-btn {
    margin-left: 5px;
    padding: 2px 10px;
    font-size: 16px;
  }

  &-input {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: black;
    outline: 0;
    font-size: 18px;
    line-height: 24px;
    // width: 320px;

    &:focus {
      border-color: blue;
    }
  }

  &-parent-list {
    padding: 0;
    list-style: none;
    margin: 10px 0px;
    text-align: left;
    width: 100%;
    width: -webkit-fill-available;
    width: stretch;
    width: -moz-available;
  }

  &-child-list {
    color: red;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
  }

  &-item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 6px 0;
    cursor: pointer;
    width: 400px;

    &-left {
      &-icons {
        display: flex;
        align-items: center;
      }

      &-plus {
        visibility: hidden;
        margin-left: 10px;
        font-size: $plus-cross-size;
      }

      &-triangle {
        border-radius: 4px;
        padding: 0 4px;
        margin-right: 4px;

        // Chrome's dropdown triangle is small, while firefox dropdown triangle is still big
        font-size: $dropdown-triangle-size;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      // &-toggled-triangle {
      //   transform: rotate(90deg);
      //   border-radius: 4px;
      //   padding: 0 4px;
      //   margin-right: 4px;

      //   // Chrome's dropdown triangle is small, while firefox dropdown triangle is still big
      //   font-size: $dropdown-triangle-size;

      //   &:hover {
      //     background-color: rgba(0, 0, 0, 0.1);
      //   }
      // }
    }

    &-right {
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        width: -webkit-fill-available;
        width: fill-available;
        width: -moz-available;
      }

      &-input {
        border: 0;
        height: 16px;
        font-size: 14px;
        width: inherit;
      }

      &-cross {
        visibility: hidden;
        font-size: $plus-cross-size;
        margin: 0px 10px;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      .todo-item-left-plus {
        visibility: visible;
      }

      .todo-item-right-cross {
        visibility: visible;
      }
    }
  }
}

.toggled-triangle {
  animation: toggle 0.5s linear;

  @keyframes toggle {
    0% {
      transform: rotate(0deg); /* CSS3 */
    }

    50% {
      transform: rotate(45deg); /* CSS3 */
    }

    100% {
      transform: rotate(90deg); /* CSS3 */
    }
  }
}
