$devices: (
  phone: 480px,
  tablet: 768px,
  desktop: 992px,
  large-desktop: 1200px
);

@mixin min-device($device: map-get($devices, "phone")) {
  @if map-has-key($devices, $device) {
    @media screen and (min-width: map-get($devices, $device)) {
      @content;
    }
  }
}

@mixin min-device($device: map-get($devices, "tablet")) {
  @if map-has-key($devices, $device) {
    @media screen and (min-width: map-get($devices, $device)) {
      @content;
    }
  }
}
